---
const today = new Date();
import SocialLinks from "./Social-Links.astro";
---

<footer>
  &copy; {today.getFullYear()} 掲載の記事・写真・イラスト等のすべてのコンテンツの無断複写・転載を禁じます。
  <div class="social-Links-container">
    <SocialLinks
      href="https://www.twitch.tv/nek_0x"
      src="/assets/Twitch-icon.png"
      alt="Twitch"
    />
    <SocialLinks
      href="https://x.com/miy_nyank"
      src="/assets/X-icon.avif"
      alt="X"
    />
    <SocialLinks
      href="https://skima.jp/profile?id=141176"
      src="/assets/SKIMA-icon.jpg"
      alt="SKIMA"
    />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  .social-Links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;
  }
</style>
